.BackgroundSlider {
	.content {
		margin-top: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.background1 {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			// max-width: 1919px;
			height: 118px;
			transform: rotate(-1deg);
			background-color: rgb(255, 63, 98);
			padding: 0;

			// .image {
			// 	::-webkit-scrollbar {
			// 		display: none;
			// 	}

			// 	// img {
			// 	// 	margin-top: -100px;
			// 	// }
			// }
		}
	}
}
