.Section2 {
	margin: 0 auto;
	width: 100%;
	height: 1650px;
	background-color: black;
	color: white;
	@media (min-width: 380px) and (max-width: 480px) {
		height: 2500px;
	}
	@media (min-width: 480px) and (max-width: 680px) {
		height: 2500px;
	}
	@media (min-width: 680px) and (max-width: 880px) {
		height: 2500px;
	}
	@media (min-width: 880px) and (max-width: 980px) {
		height: 2500px;
	}
	.content {
		margin-top: -9px;
		.content1 {
			display: flex;
			gap: 30px;
			@media (min-width: 380px) and (max-width: 480px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 480px) and (max-width: 680px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 680px) and (max-width: 880px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 880px) and (max-width: 980px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 980px) and (max-width: 1280px) {
				display: flex;
				justify-content: center;
			}
			.left {
				margin-top: 135px;
				display: flex;
				flex-direction: column;
				gap: 32px;

				img {
					@media (min-width: 380px) and (max-width: 480px) {
						width: 100%;
					}
					@media (min-width: 480px) and (max-width: 680px) {
						width: 100%;
					}
					@media (min-width: 680px) and (max-width: 880px) {
						width: 100%;
					}
					@media (min-width: 880px) and (max-width: 980px) {
						width: 100%;
					}
					@media (min-width: 980px) and (max-width: 1280px) {
						width: 100%;
					}
				}
				h1 {
					color: rgb(255, 255, 255);
					font-family: Inter;
					font-size: 42px;
					font-weight: 700;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
					@media (min-width: 380px) and (max-width: 480px) {
						font-size: 35px;
					}
					@media (min-width: 480px) and (max-width: 680px) {
						font-size: 40px;
					}
					@media (min-width: 680px) and (max-width: 880px) {
						font-size: 45px;
					}
					@media (min-width: 880px) and (max-width: 980px) {
						font-size: 45px;
					}
				}
			}

			.right {
				margin-top: 210px;
				display: flex;
				flex-direction: column;
				gap: 35px;
				@media (min-width: 380px) and (max-width: 480px) {
					margin-top: 50px;
				}
				@media (min-width: 480px) and (max-width: 680px) {
					margin-top: 30px;
				}
				@media (min-width: 680px) and (max-width: 880px) {
					margin-top: 25px;
				}
				.buttons {
					display: flex;
					gap: 10px;
				}
				span {
					width: 36px;
					height: 36px;
					padding: 6px 7px 6px 7px;
					box-sizing: border-box;
					border: 1px solid rgb(255, 63, 98);
					border-radius: 100px;
				}

				.game {
					width: 62px;
					height: 36px;
					padding: 8px 10px 8px 10px;
					box-sizing: border-box;
					border: 1px solid rgb(255, 63, 98);
					border-radius: 30px;
					background-color: black;
					color: white;
				}
				.colab {
					padding: 8px 10px 8px 10px;
					width: 136px;
					height: 36px;
					box-sizing: border-box;
					border: 1px solid rgb(255, 63, 98);
					border-radius: 30px;
					background-color: black;
					color: white;
				}

				h1 {
					color: rgb(255, 255, 255);
					font-family: Inter;
					font-size: 64px;
					font-weight: 500;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}

				.button {
					width: 152px;
					height: 51px;
					border-radius: 30px;
					padding: 15px 25px 15px 25px;
					background: rgb(255, 255, 255);
				}
			}
		}

		.content2 {
			margin-top: 130px;
			display: flex;
			justify-content: flex-start;
			gap: 130px;
			@media (min-width: 280px) and (max-width: 480px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 480px) and (max-width: 680px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 680px) and (max-width: 880px) {
				display: flex;
				flex-direction: column;
			}
			@media (min-width: 880px) and (max-width: 980px) {
				display: flex;
				justify-content: center;
				gap: 10px;
			}
			.text1 {
				display: flex;
				gap: 40px;
				.text {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				h3 {
					color: rgb(168, 168, 168);
					font-family: Inter;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					letter-spacing: 10%;
					text-align: left;
					text-transform: uppercase;
				}

				hr {
					margin-top: 10px;
					width: 0;
					height: 50px;
					@media (min-width: 380px) and (max-width: 480px) {
						display: none;
					}
					@media (min-width: 480px) and (max-width: 680px) {
						display: none;
					}
					@media (min-width: 680px) and (max-width: 880px) {
						display: none;
					}
					@media (min-width: 880px) and (max-width: 980px) {
						display: none;
					}
				}
			}
		}

		.content3 {
			margin-top: 200px;
			margin-left: 500px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 25px;
			@media (min-width: 380px) and (max-width: 480px) {
				margin-left: 	60px;
			}
			@media (min-width: 480px) and (max-width: 680px) {
				margin-left: 80px;
			}
			@media (min-width: 680px) and (max-width: 880px) {
				margin-left: 120px;
			}
			@media (min-width: 880px) and (max-width: 980px) {
				margin-left: 300px;
			}
			.keen-slider {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.card {
				width: 280px;
				height: 70px;
				border: 1px solid rgb(64, 64, 64);
				background: rgb(0, 0, 0);
				&:hover {
					background-color: #ff3f62;
				}

		
				h3 {
					color: rgb(255, 255, 255);
					font-family: Inter;
					font-size: 18px;
					font-weight: 700;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: center;
				}
				p {
					color: rgb(255, 255, 255);
					font-family: Inter;
					font-size: 13px;
					font-weight: 400;
					line-height: 150%;
					letter-spacing: 0%;
					text-align: center;
				}
				img {
					margin-top: 11px;
					width: 280px;
					height: 190px;
				}
			}
		}
	}
}
